name: Mildly interesting facts
on:
  push:
    branches:
      - master
jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set user information
      run: |
        git config --global user.name "farhanashrafdev"
        git config --global user.email "farhanashrafali30@gmail.com"
    - name: Generate metrics
      uses: lowlighter/metrics@latest
      with:
        filename: metrics.plugin.habits.facts.svg
        token: ${{ secrets.METRICS_TOKEN }}
        base: ''
        plugin_habits: true
        plugin_habits_facts: true
        plugin_habits_charts: false
        config_timezone: Asia/Karachi
    - name: Upload metrics
      uses: actions/upload-artifact@v2
      with:
        name: metrics
        path: metrics.plugin.habits.facts.svg
