name: Metrics for Repositories and Diff History
on:
  pull_request:
    branches:
      - master
jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Generate metrics
      uses: lowlighter/metrics@latest
      with:
        filename: metrics.plugin.lines.history.svg
        token: ${{ secrets.METRICS_TOKEN }}
        base: ""
        plugin_lines: yes
        plugin_lines_sections: repositories, history
        plugin_lines_repositories_limit: 2
        plugin_lines_history_limit: 1
